*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
  
    align-items: center;
    background-color: rgb(154, 155, 155);
}
header img{
    width: 40%;
    display: flex;
}

body{
    gap: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
#cadastrar{
    width: 100px;
}


#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#container ul{
    list-style-type: none;
}
