*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 75px;
    display: flex;
  
    align-items: center;
    background-color: rgb(18, 224, 197);
}
header img{
    width: 40%;
    display: flex;
}

body{
    gap: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}
.cadastrar{
    width: 100px;
}


#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}





/* Estilo do modal */
.modal {
    display: none; /* Inicialmente escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/* Estilo do botão de fechar */
.fechar-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.fechar-modal:hover,
.fechar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
