div #opcaoDicas{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #dadada;
    padding: 15px;
    border-radius: 20px;
}
#opcaoDicas h2{
    color: black;
    padding-bottom: 10px;
}
#opcaoDicas{
    
}
.itemDica {
    display: flex;
    gap: 15px;
}
#mostrarDicas{
    border: 0px;
    width: 100px;
    background-color: black;
    color: #ffffff;
 padding: 5px;
 border-radius: 05px;



}
#mostrarDicas:hover{
    background-color: #14ce23;


}