@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lavishly+Yours&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Manrope", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: rgb(154, 155, 155);
}

header img {
    width: 40%;
    display: flex;
}

body {
    gap: 2.5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.cadastrar {
    width: 100px;
    color: #fff;
    background-color: black;
    border-radius: 05px;
    border: 0px;
    padding: 5px;
    
}

.cadastrar:hover {
    background-color: rgb(26, 167, 26);
    border: 0px;
}


#container {
    gap: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#container ul {
    list-style-type: none;
}

h2 {
    color: rgb(13, 161, 13);
}


/* Estilo do modal */
.modal {
    display: none;
    /* Inicialmente escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo semitransparente */
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

/* Estilo do botão de fechar */
.fechar-modal {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.fechar-modal:hover,
.fechar-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;

}

.check-gif {
    width: 200px;
}

.listaInformacoes {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadada;
    padding: 15px;
    border-radius: 20px;
}

span {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.motivacao {
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dadada;
    padding: 15px;
    border-radius: 20px;
}
#listaTarefas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #dadada;
    padding: 15px;
    border-radius: 20px;
}
/* #listaTarefas li{

} */
.motivacao ul {

    display: flex;
    flex-direction: column;
    gap: 30px;
}


/*MODAL CONCLUIR TAREFA*/

/* Estilos do Modal */
.modal-container {
    display: none; /* Inicialmente o modal está escondido */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Fundo transparente */
    overflow: auto; /* Para permitir o scroll se necessário */
}

.modal-box {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
}

.modal-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.modal-footer {
    text-align: right;
}

.close-btn {
    background-color: #f44336; /* Cor vermelha */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 50px;
}

.close-btn:hover {
    background-color: #e53935;
}

.modal-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-body img{
    width: 50%;
}